body{
	color: beige ;
	background-image: url('https://mdbgo.io/ascensus/mdb-advanced/img/clear.gif');
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-size: cover;
	background-position: center;
}

*{
	box-sizing: border-box;
}

.blur-box{
	width: 600px;
	height: calc(100vh - 100px - 100px);
	background-color: rgba(0,0,0,0.8);
	padding: 50px 30px;
	border-radius: 50px;
	margin: 100px auto ;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-decoration: solid;
	text-shadow: dimgrey 3; 
}


.target{
	margin: 30px;
}

.row-flex{
	display: flex;
	margin: 15px 20px;
	justify-content: space-between;
}

input{
	padding: 10px 10px;
	border-radius: 20px;
}

button{
	background: transparent;
	border: none;
	font-size: larger;
}
